html.sapMIBar-CTX .sapMTitle {
    color: #033065;
   }
.sapMIBar.sapMHeader-CTX {
    background-color: #7177b3;
}

html.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: #76c174;
    border-top: 1px solid #cdc07d;
}

.sapMDialog>header .sapMDialogTitleGroup .sapMTitle {
    color: #d3a711; 
}

.sapMPopup-CTX .sapMIBar.sapMHeader-CTX {
    background-color: #893030e8;
}